<p>login-page works!</p>

<asl-google-signin-button></asl-google-signin-button>
<button (click)="loginWithFacebook()">facebook</button>

<!-- <div
  id="g_id_onload"
  data-client_id="953035548555-tu2tb2om5pikrsqs9pk0lqdjrh58phk7.apps.googleusercontent.com"
  data-login_uri="/"
  data-auto_prompt="false"
></div>
<div
  class="g_id_signin"
  data-type="standard"
  data-size="large"
  data-theme="outline"
  data-text="sign_in_with"
  data-shape="rectangular"
  data-logo_alignment="left"
></div> -->
